/ {
    /* 既存の combos はこの上にある前提 */

    keymap {
        compatible = "zmk,keymap";
        default-layer = <0>;

        layers {
            compatible = "zmk,layers";

            /* ↓ここは「元の roBa.keymap にあった bindings」を戻す */
            base {
                label = "Base";
                bindings = <
                    /* 例。ここをあなたの配列に差し替え */
                    &kp Q &kp W &kp E &kp R &kp T
                    &kp A &kp S &kp D &kp F &kp G
                    &kp Z &kp X &kp C &kp V &kp B
                >;
            };
        };
    };
};